<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Barra de progreso</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.arialValuenow]="progreso1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.arialValuenow]="progreso2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
                    </div>
                    <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso" placeholder="valor">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="cambiarValor(+5)"><i class="mdi mdi-plus"></i></button>
                    </div>
                </div> -->
                <app-incrementador (cambioValor)="progreso1 = $event" leyenda="Progress Azul" [progreso]="progreso1"></app-incrementador>
                <!-- la parte de "leyenda="Progress Azul"" se diferencia de "   [progreso]="20"  " en que si se ponen parentesis angular entiende que son numeros y sin parentesis lo toma como un string  -->

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="progreso2 = $event" leyenda="Progress Verde" [progreso]="progreso2"></app-incrementador>
            </div>
        </div>
    </div>
</div>